*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #000000;
    background-image:
        linear-gradient(to right, #ffffff29 0.5px, transparent 0.5px),
        linear-gradient(to bottom, #ffffff29 0.5px, transparent 0.5px);
    background-size: 60px 60px;
    background-attachment: fixed;
}

nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 23%;
    top: 3%;
    width: 55vw;
    height: fit-content;
    border-radius: 10px;
    border:1px solid rgb(79, 79, 79);
    padding: 10px;
    place-content: center;
    place-items: center;

    background-color: rgb(23, 23, 23);
}

.title{
    font-size: 28px;
    padding: 10px;

}
.input-area{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
input{
    margin: 10px;
    color: white;
    background-color: rgb(23, 23, 23);
    padding: 10px;
    height: 30px;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 5px;
}
input:hover, #add-log-btn:hover{
    /* box-shadow: 0px 0px 3px 0px white; */
    border: 2px solid rgb(1, 102, 255);
    box-shadow: 0px 0px 1px 3px rgb(54, 133, 252);
}
#add-log-btn{
    background-color:rgb(1, 102, 255)   ;
    color: white;
    margin: 10px;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid rgb(79, 79, 79);
}

